version: '3.8'

services:
  web:
    image: nginx:latest
    ports:
      - "8080:80"
    volumes:
      - ./html:/usr/share/nginx/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  app:
    image: node:14
    working_dir: /app/backend
    volumes:
      - ./app:/app
    command: sh -c "npm install && npm run index.js"
    expose:
      - "3000"